.App {
  text-align: center;
}
/* progress bar css */
.outer{
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
}
.inner{
  background-color: green;
  color: #fff;
  transition: 0.5s ease-in;
}